@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-default leading-[1.4];
  }
}

@layer components {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ffcc21 #777777;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #777777;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ffcc21;
  }
}
